.div1 {
   
 
    margin: 30px 350px 0px 350px ;
    height: 700px;
}
.dis_img {
    margin: 11px 50px 0px 115px;
    width: 467px;
    height: 635px;

}
.position_img {
    position: relative;
    right: 363px;
    top: -67px;
}
.div2 {
    position: relative;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    top: -678px;
    left: 922px;
    
    
    width: 347px;
    height: 396px;
}
.div2_foto1 {
    position: relative;
    left: 87px;
    bottom:-45px;
}
body{
    overflow: hidden;
}

.input1 { 
    position: relative;
    outline: 0;
    background: rgba(var(--b3f,250,250,250),1);
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
outline: 0;
    background: rgba(var(--b3f,250,250,250),1);
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    left: 40px;
    top: 75px;  
    font-size: 12px;
    padding: 10px;
    width: 244px;
    border-radius: 4px;

}

.input2 {
            
    position: relative;
    outline: 0;
    background: rgba(var(--b3f,250,250,250),1);
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
outline: 0;
    background: rgba(var(--b3f,250,250,250),1);
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    left: 40px;
    top: 82px;  
    font-size: 12px;
    padding: 10px;
    width: 244px;
    border-radius: 4px;

}
.buton {
    
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        font-weight:500;
        font-size: 14px;
        line-height: 16px;
        color: aliceblue;
        background-color: #b2dffc ;
        border-radius: 3px;
        border: 1px solid rgba(var(--b6a,219,219,219),1);
        position: relative;
        left: 40px;
        bottom: -95px;
        width: 268px;
        height: 30.5px;
    }
    .cizgi {
            position:relative;
            background-color:#dbdbdb;
            width: 97px;
            height: 1px;
            top: 119px;
            left: 40px;
        
        
    }
    
    .yada{
        position:relative;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        color: #8e8e8e;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        
        top: 112px;
        left: 158px;
    }
    .cizgi2 {
        position:relative;
            background-color:#dbdbdb;
            width: 97px;
            height: 1px;
            top: 101px;
            left: 225px;
    }
    .face {
        position: relative;
        width: 16px;
        height: 16px;
        left: 95px;
        top: 138px;
    }
    .facegiris {
        position: relative;
        color: #385185;
        left: 98px;
        top: 136px;
        font-size: 14px;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        line-height: 18px;
        font-weight: 600;
    }
    .sifreunut {
        position: relative;
        left: -37px;
        top: 173px;
        font-size: 12px;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        line-height: 0px;
        text-decoration: none; 
        color: #00376b;
        color: rgba(var(--fe0,0,55,107),1);
    }
    .div3 { 
        position: relative;
       
        left: 922px;
        top: -668px;
        border: 1px solid rgba(var(--b6a,219,219,219),1);
        height: 61px ;
        width: 348px ;



    }
    .hesabinyok {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        color: #262626;
        color: rgba(var(--i1d,38,38,38),1);
        position: relative;
        font-size: 14px;
        top: 21px;
        left: 98px;
    }
    .kaydol {
        position: relative;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        color: #0095f6;
        font-size: 14px;
        top: 21px;
        font-weight: 600;
        line-height: 0px;
        left: 98px;
    }
    .div4 {
        position: relative;
       
        left: 922px;
        top: -668px;
    }
    .uygulamayi { 
        position: relative;
       
        left: 1045px;
        top: -650px;
        font-size: 14px;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

    }
    
    .footer1 {
        margin-left: 36px;
        width: 136px;
        height: 40px;
       margin-top: 18px;

    }
    .footer2 {
        left: 1045px;
        width: 134px;
        height: 40px;
        margin-left: 4px;

    }
    .footer3 { font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        color: #8e8e8e;
        position: relative;
        margin-left: -520px;
        font-size: 12px;
        top: 53px;
        font-weight: 600;
    }
    .ok {
        width: 10px;
        height: 10px;
        margin-left: -8px;
    }
    .icon3 { width: 12px;
        height: 12px;
        margin-left: 4px;
        top: 3px;
       

    }